body {
    margin: 0;
    min-height: 100vh;
    max-width: 1600px;
    padding: 10px 50px;
    margin: 0 auto;
    background-color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}